:root {
  /* colors */
  --white: #ffffff;
  --blue-300: #d0d6f9;
  --blue-900: #0b0d17;

  /* fonts */
  --font-family: 'Barlow Condensed', sans-serif;
  --second-family: 'Bellefair', sans-serif;
  --third-family: 'Barlow', sans-serif;
}
