@import '../../styles/index.scss';

.container {
  padding-top: calc($mob-sec-pt + 24px);
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  @include mq(tab) {
    padding-top: calc($tab-sec-pt + 40px);
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  @include mq(desk) {
    padding-top: calc($desk-sec-pt + 46px);
    padding-bottom: 48px;
    padding-left: 165px;
    padding-right: 165px;
  }
}

.block {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 24px;
  padding-top: 40px;
  @include mq(tab) {
    width: 539px;
  }
  @include mq(desk) {
    padding-top: 197px;
  }
}

.title {
  text-align: center;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.15em;
  margin-bottom: 24px;
  color: $color-white;
  @include mq(tab) {
    text-align: start;
    font-size: 20px;
    margin-bottom: 66px;
  }
  @include mq(desk) {
    font-size: 28px;
    letter-spacing: 0.14em;
    margin-bottom: 151px;
  }
}

.number {
  font-family: $font-family;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.15em;
  color: rgba($color-white, 0.25);
  margin-right: 24px;
  @include mq(tab) {
    font-size: 20px;
    margin-right: 24px;
  }
  @include mq(desk) {
    font-size: 28px;
    letter-spacing: 0.17em;
  }
}
.wrapper {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mq(tab) {
    width: 539px;
  }
  @include mq(desk) {
    margin-top: 197px;
    margin-top: 40px;
  }
}
.shell {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  @include mq(desk) {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    gap: 32px;
  }
}

.role {
  text-align: center;
  font-family: $second-family;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: $color-white;
  opacity: 0.5;
  margin-bottom: 8px;
  @include mq(tab) {
    font-size: 32px;
    margin-bottom: 16px;
  }
  @include mq(desk) {
    text-align: start;
  }
}
.name {
  text-align: center;
  font-family: $second-family;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: $color-white;
  margin-bottom: 24px;
  @include mq(tab) {
    font-size: 56px;
  }
  @include mq(desk) {
    text-align: start;
  }
}
.bio {
  display: block;
  text-align: center;
  font-family: $third-family;
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
  color: $color-blue-300;
  margin-bottom: 55px;
  @include mq(tab) {
    font-size: 18px;
    margin-bottom: 0;
  }
  @include mq(desk) {
    text-align: start;
  }
}
.list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: auto;
  margin-bottom: 32px;
  @include mq(tab) {
    gap: 40px;
  }
  @include mq(desk) {
    justify-content: start;
    margin-bottom: 40px;
  }
}

.btn {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: rgba($color-white, 0.25);
  cursor: pointer;
  @include mq(tab) {
    width: 15px;
    height: 15px;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  &.active {
    background-color: $color-white;
  }
}
.box {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  @include mq(tab) {
    width: 539px;
  }
  @include mq(desk) {
    height: 734px;
  }
}
.img {
  margin: 0 auto;
}
