@import '../../assets/styles/index.scss';

.container {
  margin-top: 417px;
  padding-left: 165px;
  padding-right: 165px;
  display: flex;
  justify-content: space-between;
}

.shell {
  max-width: 540px;
}

.txt {
  font-size: 28px;
  letter-spacing: 0.14em;
  color: $color-blue-300;
  margin-bottom: 24px;
}

.title {
  font-family: $second-family;
  font-weight: 400;
  font-size: 144px;
  color: $color-white;
  margin-bottom: 24px;
}

.article {
  font-family: $third-family;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: $color-blue-300;
}

.styledLink {
  @include centered-flex;
  width: 272px;
  height: 272px;
  background: $color-white;
  font-family: $second-family;
  border-radius: 50%;
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  color: $color-blue-900;
}
