/* colors */

$color-white: #fff;
$color-blue-300: #d0d6f9;
$color-blue-900: #0b0d17;

/* fonts */
$font-family: 'Barlow Condensed', sans-serif;
$second-family: 'Bellefair', sans-serif;
$third-family: 'Barlow', sans-serif;

/* Section padding */
$desk-sec-pt: 136px;
$tab-sec-pt: 96px;
$mob-sec-pt: 88px;
