@import '../../styles/index.scss';

.header {
  position: fixed;
  z-index: 1000;
  right: 0;
  left: 0;
}

.shell {
  margin-left: 24px;
  @include mq(tab) {
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    margin-left: 40px;
  }
  @include mq(desk) {
    margin-left: 0;
    padding-top: 20px;
    align-items: end;
  }
}
.menu {
  margin-left: auto;
  margin-right: 24px;
  @include mq(tab) {
    display: none;
  }
}

.container {
  height: 88px;
  display: flex;
  align-items: center;
  position: relative;
  @include mq(tab) {
    height: auto;
    margin-right: 40px;
  }
  @include mq(desk) {
    padding-left: 64px;
    margin-bottom: 20px;
    margin-right: 582px;
  }
}

.decor {
  display: none;
  @include mq(desk) {
    display: block;
    position: absolute;
    z-index: 100;
    left: 176px;
    width: 559px;
    height: 1px;
    background-color: $color-white;
    opacity: 0.25;
  }
}
.btn {
  position: relative;
  background-color: transparent;
  border: none;
  margin-left: auto;
  @include centered-flex;
  height: 40px;
  width: 40px;
  margin-right: 24px;
}
.menuOpen {
  position: absolute;
}
.menuClose {
  position: absolute;
}
.mobileMenu {
  display: block;
  @include mq(tab) {
    display: none;
  }
}
.deskTabMenu {
  display: none;
  @include mq(tab) {
    display: block;
  }
}
.btn {
  display: block;
  @include mq(tab) {
    display: none;
  }
}
.mobileMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(80px);
  background: rgba(255, 255, 255, 0.05);
}
