@import '../../styles/index.scss';

.container {
  @include mq(tab) {
    display: flex;
    gap: 48px;
    padding-right: 40px;
    margin-left: auto;
    padding-left: 117px;
    backdrop-filter: blur(80px);
    background: rgba(255, 255, 255, 0.05);
  }
  @include mq(desk) {
    padding-left: 159px;
    padding-right: 64px;
  }
}

.number {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.12em;
  margin-right: 12px;
  @include mq(desk) {
    letter-spacing: 0.17em;
  }
}

.nav {
  position: relative;
  display: block;
  padding-top: 38.5px;
  padding-bottom: 38.5px;
  font-size: 16px;
  letter-spacing: 0.12em;
  color: $color-white;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    border-radius: 2px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover {
    &::after {
      opacity: 1;
      transform: scale(1.4);
    }
  }

  &.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
    width: 100%;
    border-radius: 2px;
    height: 3px;
    border-bottom: 3px solid $color-white;
    transform: scale(1);
  }
}

.home {
  display: none;
  @include mq(desk) {
    display: block;
  }
}
