.main {
  min-height: 100vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 102%;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
