@import '../../styles/index.scss';

.container {
  padding-top: calc($desk-sec-pt + 46px);
  padding-bottom: 48px;
  padding-left: 165px;
  padding-right: 165px;
}
.title {
  font-family: $font-family;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0.14em;
  color: $color-white;
  margin-bottom: 24px;
}
.number {
  font-family: $font-family;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.17em;
  color: rgba($color-white, 0.25);
  margin-right: 24px;
}
.shell {
  display: flex;
  gap: 32px;
}
