@import '../../styles/index.scss';

.container {
  padding-top: calc($mob-sec-pt + 24px);
  padding-bottom: 24px;
  @include mq(tab) {
    padding-top: calc($tab-sec-pt + 40px);
    padding-bottom: 40px;
  }
  @include mq(desk) {
    padding-top: calc($desk-sec-pt + 46px);
    padding-bottom: 48px;
    padding-left: 165px;
    padding-right: 165px;
  }
}

.title {
  text-align: center;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.15em;
  margin-bottom: 88px;
  color: $color-white;
  @include mq(tab) {
    text-align: start;
    font-size: 20px;
    margin-bottom: 66px;
  }
  @include mq(desk) {
    font-size: 28px;
    letter-spacing: 0.14em;
    margin-bottom: 151px;
  }
}

.number {
  font-family: $font-family;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.15em;
  color: rgba($color-white, 0.25);
  margin-right: 24px;
  @include mq(tab) {
    font-size: 20px;
    margin-right: 24px;
  }
  @include mq(desk) {
    font-size: 28px;
    letter-spacing: 0.17em;
  }
}

.box {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  @include mq(desk) {
    flex-direction: row;
    height: 734px;
  }
}

.shell {
  display: block;
  @include mq(desk) {
    display: flex;
    gap: 32px;
  }
}

.infoBlock {
  display: flex;
  flex-direction: column;
  @include mq(desk) {
    flex-direction: row;
  }
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  margin-bottom: 40px;
  @include mq(desk) {
    flex-direction: column;
    margin-right: 64px;
    margin-bottom: 0;
    gap: 32px;
  }
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  @include centered-flex;
  font-family: $second-family;
  font-weight: 400;
  font-size: 18px;
  color: $color-white;
  cursor: pointer;
  transition: border 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.4s cubic-bezier(0.4, 0, 0.2, 1);

  @include mq(tab) {
    width: 56px;
    height: 56px;
    font-size: 24px;
  }
  @include mq(desk) {
    width: 80px;
    height: 80px;
    font-size: 32px;
  }

  &:hover {
    border: 1px solid $color-white;
  }
  &.active {
    background-color: $color-white;
    color: $color-blue-900;
  }
}

.block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0;
  @include mq(tab) {
    width: 512px;
  }
  @include mq(desk) {
    margin-right: 32px;
    width: 491px;
  }
}

.terminology {
  font-family: $second-family;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: $color-white;
  margin-bottom: 16px;
  opacity: 0.5;
  @include mq(tab) {
    font-size: 24px;
  }
  @include mq(desk) {
    text-align: start;
    font-size: 32px;
  }
}

.name {
  font-family: $second-family;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: $color-white;
  margin-bottom: 16px;
  @include mq(tab) {
    font-size: 40px;
  }
  @include mq(desk) {
    text-align: start;
    font-size: 56px;
    margin-bottom: 24px;
  }
}

.description {
  font-family: $third-family;
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
  text-align: center;
  color: $color-blue-300;
  padding-left: 24px;
  padding-right: 24px;
  @include mq(tab) {
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
  }
  @include mq(desk) {
    text-align: start;
    font-size: 18px;
  }
}

.imgContainer {
  width: 100%;
  @include centered-flex;
  height: 100%;
  margin-bottom: 32px;
  @include mq(desk) {
    width: 608px;
    margin-bottom: 0;
  }
}

.img {
  width: 110vw;
  height: 258px;
  object-position: bottom;
  object-fit: cover;
  @include mq(tab) {
    height: 357px;
    object-position: center;
  }
  @include mq(desk) {
    width: 100%;
    height: auto;
  }
}
